<h1>Look at all these article...</h1>

<br>
<%articleData.forEach(function(article, index){%>
    <p><a href="/articles/<%= index %>"> <%= article.title %> </a></p>
    
<% }); %>
<h3><a href="articles/new">Create new article</a></h3>
<h2><a href="/">GO BACK TO HOME</a></h2> 