<h2>New Articles</h2>
<form action="/articles" method="POST">
    <label for="articleTitle">Title</label>
    <input type="text" name="articleTitle">
    <label for="articleBody">Body</label>
    <input type="text" name="articleBody">
    <input type="submit" value="SUBMIT NEW ARTICLE">
</form>